:root{

    --corfundo: #1e1e1e ;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botaoativo: #3A375E;
    --botaoinativo: rgba(58,55,94,0.5);
    --textofundo: rgba(58,55,94,0.3);
}




*{
    background-color: var(--corfundo);
    color: var(--branco);
}
.Titulo {
    color: var(--branco);
    font-style: italic;
    font-size: xx-large;
    font-weight: normal;
}
span {
    color: var(--verde);
}

.Conteudo {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;


}
