:root{

    --corfundo: #490240 ;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botaoativo: #3A375E;
    --botaoinativo: rgba(58,55,94,0.5);
    --textofundo: rgba(58,55,94,0.5);
}




body {
    background-color: var(--corfundo);
}
.Titulo1 {
    color: var(--branco);
    font-style: italic;
    font-size: xx-large;
    font-weight: lighter;
}

